/* !FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/a-cursive");

@font-face {
  font-family: "Roslindale";
  src: url("./fonts/RoslindaleVariable-VF[Display]-Testing.ttf");
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-regular.woff");
}

@font-face {
  font-family: "Aeonik2";
  src: url("./fonts/aeonik-regular.woff2");
}

@font-face {
  font-family: "rogsant";
  src: url("./fonts/rogsantregular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100vw;
  height: 100%;
}

/* nav */

#nav {
  height: 100px;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

#nav h3 {
  font-size: 14px;
  font-weight: 100;
  color: black;
  font-family: "Aeonik";
  text-transform: uppercase;
}

#nav-part2 {
  display: flex;
  gap: 55px;
  /* color: black; */
  font-family: "roslindale";
  /* text-transform: uppercase; */
}

#nav-part2 h1 {
  display: flex;
  gap: 55px;
  color: black;
  font-size: 3px;
  font-weight: 100;
  font-family: "roslindale";
}

#nav-part3 {
  display: flex;
  gap: 15px;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  font-family: "Aeonik";
  /* align-items: center; */
}

img {
  height: 100px;
}

#nav h3 {
  text-transform: uppercase;
}

#nav h4 {
  text-transform: uppercase;
}

#main {
  height: 100%;
  width: 100vw;
  background-color: white;
}

#main h1 {
  font-size: 140px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 170px; */
}

#main h1 span {
  background-color: brown;
  /* color: #000; */
  font-size: 25px;
  padding: 20px 40px;
  margin: 0 30px;
  /* height: 60px; */
  border-radius: 50px;
}

/* this changes the color for only the word Everything */
#main h1:nth-child(2) {
  color: red;
  margin-top: 60px;
}
#main h1:nth-child(3) {
  color: blue;
  /* margin-top: 60px; */
}

#main h1:nth-child(4) {
  color: yellowgreen;
  /* margin-top: 60px; */
}
