/* !FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap");

@font-face {
  font-family: "Roslindale";
  src: url("./fonts/RoslindaleVariable-VF[Display]-Testing.ttf");
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-regular.woff");
}

/* !BASE STYLES/RESET */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --light-color: #f3f3fe;
  --dark-color: #363636;
  --purple: rgba(133, 102, 246);
  --orange: orange;
  --dark-orange: darkorange;
  --border-top-color: rgba(0, 0, 0, 0.1);
  --link-hover-color: rgba(255, 255, 255, 0.2);
  --title-font-family: "Playfair Display", "serif";
  --body-font-family: "Poppins", "sans-serif";
  --container-padding: 1.5rem;
  --section-vertical-spacing: 8rem;
}
/* 
?RADIAL GRADIENT
?background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%); 
*/

html {
}

html,
body {
  /* font-family: var(--body-font-family); */
  font-family: "Roslindale";
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

i {
  font-size: 2.4rem;
}
/* 
input,
button,
textarea {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
} */
/* !REUSABLE CLASSES */
.container {
  width: 100vw;
  /* max-width: var(--container-width); */
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

/* nav */

#nav {
  height: 100%;
  width: 100vw;
  background-color: red;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 0 30px;
}

#nav-part2 {
  display: flex;
  gap: 55px;
  font-weight: 400;
  text-transform: uppercase;
}

#nav-part3 {
  display: flex;
  gap: 15px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Aeonik";
  /* align-items: center; */
}

img {
  height: 100px;
}

#nav h3 {
  text-transform: uppercase;
}

#nav h4 {
  text-transform: uppercase;
}

/* #nav button {
  background-color: #fff;
  color: #000;
  padding: 15px 20px;
  border: none;
  font-weight: 700;
  font-weight: 16px;
} */
/*  */

/* !HERO STYLES*/

.section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-block: var(--section-vertical-spacing);
  position: relative;
}
.title {
  font-family: "Roslindale";
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.main-title {
  /* font-size: clamp(5rem, 10vw, 10rem); */
  font-size: 70px;
  text-align: center;
  margin-top: 90px;
}

.inline-image {
  width: 4rem;
  height: 4rem;
  background: url("./images/rose.png") top center no-repeat;
  background-size: cover;
  border-radius: 50%;
  /* comment on the below to keep image like a tear drop on the left or right*/
  /* border-bottom-right-radius: 0; */
  /* border-bottom-left-radius: 0; */
  margin: 0 1.5rem;
}

.text-bold {
  text-transform: uppercase;
  font-size: 70px;
  color: var(--dark-orange);
  font-family: Arial, Helvetica, sans-serif;
}

/* .main-title h1 {
  width: 100%;
  text-align: center;
  font-size: 15vw;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 90%;
  background-color: red; 
} */

.main-title .show-reel {
  /* background-color: #fff; */
  /* background-color: brown; */
  color: var(--black);
  padding: 20px 40px;
  border-radius: 50px;
  border: 1px solid #000;
  height: 2%;
  width: 10%;
  transition: transparent;
  margin-left: 5%;
  margin: 0 30px;
}

.main-title .show-reel h1 {
  font-size: 15px;
  font-weight: 100;
  color: var(--black);
  letter-spacing: 1px;
  white-space: nowrap;
  /* animation: animate 6s linear infinite; */
  animation-name: animate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* animation-delay: -60s; */
}

/* this works but i dont want the button to move. Only the text */
.main-title .show-reel h1:nth-child(1) {
  animation: animate 6000s linear infinite reverse-infinite;
  /* animation-delay: -30s; */
}

@keyframes animate {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-15%);
  }
}

.main-title h2 {
  text-transform: uppercase;
  font-size: 70px;
  background-color: var(--purple);
  height: 10vh;
  width: 40%;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  /* opacity: 1; */
  background-size: 30%;
  /* padding: 0 5vw; */
  margin-left: 30%;
  transform: rotate(11deg); /* Tilt the text by 11 degrees */
}
